
body{
  background-color: #2b3035;

}
.container{
    display: block;
    margin: auto;
    max-width: 90vw;
    height: 95vh;
}

.gridMain{
    margin: auto;
    display: grid;
height: 100%;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
}

.grid-container{
    position: relative;
  
    margin-bottom: 20px; 
    display: grid;
    grid-template-columns:6fr 2fr 2fr;
    z-index: 5;
    width: 95%;
height: 100%;
    text-align: center;
 

}


#canvasDiv{
   
    max-width: 95%;
   
    box-shadow: 3px 3px 3px 2px black;
    border-color: darkcyan; 
   border-radius: 10px;
    padding: 5px;
   
 overflow: auto;
height: 100%;
background: linear-gradient(315deg, #2e3339, #272b30);
box-shadow:  -28px -28px 68px #111315,
             28px 28px 68px #454d55;
}
.divLeft{
    display: flex;
    max-height: 100%;
    flex-direction: column;
    padding-top: 30%;
    padding-bottom: 30%;
    align-items: center;
    justify-content: center;
}
.divRight{
    display: grid;
    
    grid-template-rows: 10% 80%;
    max-width:100%;
 


}
#subDiv{

    transition:  0.3s;
    width: 100%;
    height: 100%;

}
.lblElement{
    position: absolute;
    font-size: 0.3rem;
    color: #000;
   transform: translate(-50%,-50%);

}

#svgDrawing{

    padding: 5px;
    width: 100%;
    margin: auto;
    fill: lightgray;
    height: 97%;
 overflow: visible;
 
}

h5{
    position:static;

    margin: auto;
  padding-bottom: 4px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 100;
    font-size: 1rem;
    border-bottom: 2px solid;
    border-color: darkcyan;
}

#fileRatio{
    display: block;
    margin: auto;
    
    width: 180px;
    height: 40px;
font-size: 1.2rem;
text-align: center;
font-family:Arial, Helvetica, sans-serif;
font-weight: 600;
}


.toggle-container {
  margin: auto;
    display: flex;
    vertical-align: middle;
    background-color: #ccc;
    padding: 5px;
    border-radius: 20px;
  }
  .toggle-container .toggle-switch {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #888;
    transition: background-color 0.3s;
  }
  .toggle-container .toggle-switch input[type="checkbox"] {
    display: none;
  }
  .toggle-container .toggle-switch input[type="checkbox"]:checked + .toggle-slider {
    background-color: #4CAF50;
  }
  .toggle-container .toggle-switch .toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s;
  }
  .toggle-container .toggle-switch input[type="checkbox"]:checked + .toggle-slider {
    transform: translateX(30px);
  }
  
  @media (max-width: 900px) {
.gridMain{
  display: flex;
  flex-direction: column;

  margin: auto;
}
#canvasDiv{
  margin-top: 20px;
  min-height: 280px;}
    .divLeft{
      width: 100%;
      height: 80%;
      padding: 0;
    }
    .divRight{
      width: 100%;
      height: 100%;
    }
    h5{font-size: 0.8rem;}
  
    }
    
   
